include figures.jade

mixin gethRecipe(header)
  +gethFigure()

  if header != ""
    h2 #{header}
  h3 
    div.number 1 
    | Install and run the 
    strong Command Line Interface

  p Frontier is focused on command line tools. You can use them to send ether (the network’s internal fuel) to someone else, load and execute contracts, import your pre-sale wallet or make your computer into a supporting node and earn ether.

  a(href="cli").button Install the Command line tools

  div.recipe
    h4 You'll need:
    ul
      li 
        input(type="checkbox") 
        | To know how to use a command-line interface 
      li 
        input(type="checkbox") 
        |  1-2Gb free space (for the blockchain) 
      li 
        input(type="checkbox") 
        |  Not be afraid to do basic coding


mixin etherRecipe(header)
  +etherFigure

  if header != ""
    h2 #{header}
  h3
    div.number 2
    | Get some ether, the crypto-fuel of the Ethereum network
  
  p Ether is the internal 'fuel' of Ethereum. Programs running on Ethereum need to pay the network for the resources they consume. Volunteers earn this ether by validating transactions, securing the network.

  p Alternatively, if you participated in the presale to fund Ethereum's development, or won a reward from the Olympic or 
    a(href="https://bounty.ethdev.com/") Bug Bounty 
    | programs, you will have a wallet file (.json) that can be imported and give you access to your ether.
  
  p You can also get some from a friend or purchase it online.
  
  a(href="../ether").button Get Ether
  
  div.recipe
    h4 You'll need:
    ul
      li 
        input(type="checkbox") 
        | Any of the 
        a(href="#install-geth") Command Line Tools  
      li 
        input(type="checkbox") 
        |  One of these:
        ul
          li 
            input(type="checkbox") 
            |  Computer with a modern GPU
          li 
            input(type="checkbox") 
            |  Generous friend with ether
          li 
            input(type="checkbox") 
            |  Bitcoins to exchange
          li 
            input(type="checkbox") 
            |  An ether .json wallet


mixin greeterRecipe(header)
  +greeterFigure

  if header != ""
    h2 #{header}
  h3 
    div.number 3 
    | Create the Greeter, your first live contract

  p The greeter is a very simple contract that greets “Hello World” when poked. If you have never created any contracts in Ethereum before, this is where you should start.

  a(href="greeter").button Summon the Greeter 

  div.recipe
    h4 You'll need:
    ul
      li 
        input(type="checkbox") 
        a(href="#install-geth") Geth 
      li 
        input(type="checkbox") 
        |  Desire to learn new things  
      li 
        input(type="checkbox") 
        |  0.001 
        a(href="#get-ether") ether 
        | (approximately)

mixin tokenRecipe(header)
  +tokenFigure

  if header != ""
    h2 #{header}
  h3 
    div.number 4 
    | Design and issue your own cryptocurrency

  p Create a tradeable digital token that can be used as a currency, a representation of an asset, a virtual share, a proof of membership or anything at all. These tokens use a standard coin API, so your contract will be automatically compatible with any wallet, other contract or exchange also using this standard. 

  p The total amount of tokens in circulation can be set to a simple fixed amount, or fluctuate based on any programmed ruleset.

  a(href="token").button Issue your token 

  div.recipe
    h4 You'll need:
    ul
      li 
        input(type="checkbox") 
        a(href="#install-geth") Geth 
      li 
        input(type="checkbox") 
        |  Very basic programming skills 
      li 
        input(type="checkbox") 
        |  0.002  
        a(href="#get-ether") ether 
        | (approximatelly)
      li 
        input(type="checkbox") 
        |  1 cool token name (optional)


mixin crowdsaleRecipe(header)
  +crowdsaleFigure

  if header != ""
    h2 #{header}
  h3 
    div.number 5 
    | Kickstart a project with a trustless crowdsale

  p Do you already have many ideas as to what to develop on Ethereum? Maybe you need help and some funds to bring them to life, but who would lend money to someone they don’t trust?

  p Using Ethereum you can create a contract that will hold contributor's money until any given date or goal is reached. Depending on the outcome, the funds will either be released to the project owners, or safely returned back to the contributors. All without requiring a centralized arbitrator, clearing house or having to trust anyone. 

  p You can even use the token you created earlier to keep track of the distribution of rewards.

  a(href="crowdsale").button Kickstart your project 

  div.recipe
    h4 You'll need:
    ul
      li 
        input(type="checkbox") 
        a(href="#install-geth") Geth 
      li 
        input(type="checkbox") 
        | Basic programming skills 
      li 
        input(type="checkbox") 
        | 0.004  
        a(href="#get-ether") ether 
        | (approximatelly)
      li 
        input(type="checkbox") 
        | An Ethereum-based 
        a(href="#crypto-currency") digital token 
        | (to track rewards)
      li 
        input(type="checkbox") 
        | 1 good idea that needs funding

mixin daoRecipe(header)
  +daoFigure

  if header != ""
    h2 #{header}
  h3 
    div.number 6 
    | Create a democratic autonomous organization

  p Now that you have developed your idea and secured funds, what’s next? You have to hire managers, find a trustworthy CFO to handle the accounts, run Board meetings and do bunch of paperwork. 

  p Or you can simply leave all that to an Ethereum contract. It will collect proposals from your backers, and submit them through a completely transparent voting process.

  p One of the many advantages of having a robot run your organization, is that it is immune to any outside influence as it’s guaranteed to execute only what it was programmed to. And because the Ethereum network is decentralized, you'll be able to provide services with an 100% uptime guarantee. 

  a(href="dao").button Start your organization 

  div.recipe
    h4 You'll need:
    ul
      li 
        input(type="checkbox") 
        a(href="#install-geth") Geth 
      li 
        input(type="checkbox") 
        | Basic programming skills 
      li 
        input(type="checkbox") 
        | 0.008  
        a(href="#get-ether") ether 
        | (approximatelly) to create the contract 
      li 
        input(type="checkbox") 
        | Ethereum-based 
        a(href="#crypto-currency") digital token  
        | (voting right)
      li 
        input(type="checkbox") 
        a(href="#crowdsale") Any amount of funds
      li 
        input(type="checkbox") 
        | Ideas on where to invest these funds
      li 
        input(type="checkbox") 
        | Friends to vote on these ideas (optional)


mixin futureRecipe(header)
  +futureFigure

  if header != ""
    h2 #{header}
  h3 
    div.number 7 
    | Build a new kind of decentralized application

  p Now it's your turn: start building what you dream of creating in Ethereum! Could your business be enhanced by operating on a cryptographically secure, decentralized, tamper proof network?

  p Check out the 
    a(href="http://dapps.ethercasts.com/") many great projects 
    | already building on Ethereum. And since you'll be amongst the first developers in the world able to program decentralized applications, maybe some of them might even need your help!

  h4 Some projects using Ethereum

  ul.project-list
    li
      a(href='http://augur.net') Augur 
      | Decentralized prediction market built on Ethereum
    li
      a(href='https://www.theprotocol.tv/adept-demo-ibm-samsung') IBM 
      | IBM/Samsung Internet of Things project
    li 
      a(href='http://boardroom.to') BoardRoom 
      | Blockchain Governance Dapp 
    li 
      a(href='http://airlock.me/') Airlock             
      | Next generation keyless access protocol for smart property
    li 
      a(href='https://www.provenance.org') Provenance            
      | Social business founded to open up the world of how things are made
    li 
      a(href='http://slock.it') Slock.it 
      | "If you can lock it, we will let you rent, sell or share&nbsp;it."
    li 
      a(href='https://dgx.io/') DigiGlobal           
      | the first Smart Asset company built on Ethereum
    li 
      a(href='http://ether.fund') Ether.fund              
      | Ethereum blockchain services
    li 
      a(href='http://weifund.io/') Wei.fund             
      | A non-profit, decentralized crowdfunding platform built on Ethereum
    li 
      a(href='http://ethergit.com') Ether Git 
      | Ethereum blockchain explorer
    li 
      a(href='http://etherchain.org')  etherchain            
      | An Ethereum Blockchain Explorer     
    li 
      a(href='http://makerdao.com')  Maker Dao            
      | Autonomous bank & market maker



mixin thawing()
  div.thawing
    img(src='images/thawing@2x.png', width="49px")
    h6 The main network is thawing
    p For the first days, while the network defreezes, it is not possible to execute or send transactions, only mine blocks. When the network is secure a new version will be provided. Please be patient...
    

mixin inner-header(title)
  div.inner-header.scrollme
    div.breadcrumb.animateme(data-when="exit", data-from="1", data-to="0.8", data-opacity="0", data-translatey="-20") 
      a(href="/").index Ethereum Frontier 
      | »  
      strong #{title} 
    a(href="/").back « Main page
    figure.ethereum-logo.animateme(data-when="exit", data-from="0", data-to="1", data-translatey="120", data-opacity="0.5", data-scale="0.6", data-easing="linear")

    h3.center.animateme(data-when="exit", data-from="0", data-to="0.5", data-translatey="30", data-opacity="0", data-scale="0.7", data-easing="linear")  #{title} 
